<h1>Listing reportets</h1>

<table>
  <thead>
    <tr>
      <th>IDTranvia</th>
      <th>Fecha</th>
      <th>Trayectos</th>
      <th>Tiempopromedio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reportets.each do |reportet| %>
      <tr>
        <td><%= reportet.tranvium_id %></td>
        <td><%= reportet.fecha %></td>
        <td><%= reportet.trayectos %></td>
        <td><%= reportet.tiempopromedio %></td>
        <td><%= link_to 'Show', reportet %></td>
        <td><%= link_to 'Edit', edit_reportet_path(reportet) %></td>
        <td><%= link_to 'Destroy', reportet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reportet', new_reportet_path %>
